doctype html
html(lang='pl')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/css_all.css')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=REM:wght@100&display=swap', rel='stylesheet')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=REM:wght@300&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='css/index.css')
    title Talkify - Aplikacja Czatu
  body
    header
      a(href="/")
        img#logo(src='images/talkify.svg', alt='logo')
      a(href="/")
        h1 Talkify
    .container.text-center
      h2 404 - Strona nie znaleziona
      p Niestety, strona, której szukasz, nie istnieje. 😢
      a(href="/")
        img(src="images/back.svg", alt="Strona główna", srcset="").img-nav.img-nav-back
    .social
      a(href='https://github.com/koziuu', target='_blank')
        img(src='images/github.svg', alt='github')
      a(href='https://discord.com/users/725816686296432761', target='_blank')
        img(src='images/discord.svg', alt='discord')