doctype html
html(lang='pl')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=REM:wght@300&display=swap' rel='stylesheet')

    link(rel='stylesheet' href='css/global.css')
    link(rel='stylesheet' href='css/utilities.css')
    link(rel='stylesheet' href='css/social.css')

    link(rel='icon' href='favicon.ico' type='image/x-icon')
    link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')

    title Talkify
  body
    header
      a(href="/")
        img#logo(src='images/talkify.svg', alt='logo')
      a(href="/")
        h1.logo-text Talkify
      .social
        a(href='https://github.com/koziuu' target='_blank')
          img(src='images/github.svg' alt='github')
        a(href='https://discord.com/users/725816686296432761' target='_blank')
          img(src='images/discord.svg' alt='discord')
    .container-big
      .container-small
        p.desc-1.text-bold Witaj w Talkify! 
        p.desc-4 Talkify to platforma, kt贸ra pozwala na rozmowy z lud藕mi z r贸偶nych zaktk贸w wiata.
        p.desc-2.text-bold Co mo偶esz zrobi na Talkify? 
        p.desc-4  Docz do Prywatnych Pokoj贸w: Czatuj z przyjaci贸mi w prywatnych czatach zabezpieczonych hasami. We藕 udzia w rozmowach, kt贸re Ci pasjonuj.
        p.desc-4  Stw贸rz Swoje Wasne Pokoje: Bd藕 gospodarzem i tw贸rc swojego wasnego chatu, gdzie mo偶esz dostosowa ustawienia, wybiera tematy rozm贸w i zaprasza swoich znajomych.
        p.desc-4  Szukaj Nowych Przyjaci贸: Przegldaj rozmowy z osobami, kt贸re pasuj do Twoich preferencji i poznawaj ciekawych ludzi.
        p.desc-4  Udostpniaj Obrazki: Dziel si obrazami ze swoimi znajomymi i nadawaj rozmowom nowy wymiar.
        p.desc-3.text-bold Zacznij chatowa ju偶 teraz! 
      .hr-vertical
      .container-small.menu
        a(href='/random').a-nav-img
          p Losowy Chat
          img(src="images/random.svg", alt="random-chat", srcset="").img-nav
        a(href='/search-rooms').a-nav-img
          p Docz do chatu
          img(src="images/right.svg", alt="search-chat", srcset="").img-nav
        a(href='/create-room').a-nav-img
          p Stw贸rz pok贸j
          img(src="images/send.svg", alt="create-chat", srcset="").img-nav