doctype html
html(lang='pl')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=REM:wght@300&display=swap' rel='stylesheet')

    link(rel='stylesheet' href='css/global.css')
    link(rel='stylesheet' href='css/utilities.css')
    link(rel='stylesheet' href='css/social.css')
    link(rel='stylesheet' href='css/search.css')

    link(rel='icon' href='favicon.ico' type='image/x-icon')
    link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')

    title Talkify
  body
    header
      a(href="/")
        img#logo(src='images/talkify.svg', alt='logo')
      a(href="/")
        h1.logo-text Talkify
      .social
        a(href='https://github.com/koziuu' target='_blank')
          img(src='images/github.svg' alt='github')
        a(href='https://discord.com/users/725816686296432761' target='_blank')
          img(src='images/discord.svg' alt='discord')
    .container-big.flex-column
      p.desc-1 Pokoje tematyczne
      table
        thead
          tr
            th Nazwa
            th Opis
            th Kod
            th Ilość osób
            th Dołącz
        tbody
          tr
            td Nazwa pokoju
            td Opis pokoju
            td IAs7J8SA
            td 5
            td
              a(href='/room-IAs7J8SA').a-text Dołącz