.social {
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 34px;
    right: 30px;
    bottom: 1vh;
    gap: 10px;
}

.social>a>img {
    height: 34px;
    user-select: none;
    cursor: pointer;
    transition: all .2s;
}

.social>a>img:hover {
    filter: invert(40%);
}